In [2]:
%matplotlib inline

In [3]:
import pandas as pd

In [9]:
df_sp500_data = pd.read_csv('Resources/SP500_filing_data.csv')

df_sp500_data['netcash_free'] = df_sp500_data.netcash_operating - df_sp500_data.ppe_purchases
df_sp500_data['prev_netcash_free'] = df_sp500_data.prev_netcash_operating - df_sp500_data.prev_ppe_purchases
len(df_sp500_data)

41238

,company_code,cik,filing_type,filing_period,netincomeloss,prev_netincomeloss,retainedearnings,prev_retainedearnings,netcash_operating,prev_netcash_operating,netcash_investing,prev_netcash_investing,netcash_financing,prev_netcash_financing,ppe_purchases,prev_ppe_purchases,filing_year,filing_monthday,filing_qtr,freenetcash
0,MMM,66740,10-K,20141231,4956000000,4.659000e+09,34317000000,32416000000,5300000000,5817000000,-2686000000,-856000000,-2058000000,-5246000000,1484000000,1665000000,2014,1231,2014Q4,3816000000
1,MMM,66740,10-K,20141231,4956000000,4.659000e+09,34317000000,32416000000,5300000000,5817000000,-2686000000,-856000000,-2058000000,-5246000000,1484000000,1665000000,2014,1231,2014Q4,3816000000
2,MMM,66740,10-K,20141231,4956000000,4.659000e+09,34317000000,32416000000,5300000000,5817000000,-2686000000,-856000000,-2058000000,-5246000000,1484000000,1665000000,2014,1231,2014Q4,3816000000
3,MMM,66740,10-K,20141231,4956000000,4.659000e+09,34317000000,32416000000,5300000000,5817000000,-2686000000,-856000000,-2058000000,-5246000000,1484000000,1665000000,2014,1231,2014Q4,3816000000
4,MMM,66740,10-K,20141231,4956000000,4.659000e+09,34317000000,32416000000,5300000000,5817000000,-2686000000,-856000000,-2058000000,-5246000000,1484000000,1665000000,2014,1231,2014Q4,3816000000